<div class='navigate'>
  <table>
    <tr>
      <td><a href="?page=mainPage">Home</a></td>
      <td><a href="?page=csvPage">Yahoo Finance CSV API</a></td>
      <td><a href="?page=yqlPage">Yahoo Finance YQL API</a></td>
    </tr>
  </table>
</div>
<div class="leftSide">
  <h1 class='title'>Welcome To My Tutorial For Using Yahoo's Finance API</h1>
  <p class="author">By Mike Jenkins</p>
  <h2>Introduction</h2>
  <p>This website is a how-to guide to instruct developers on software development with the Yahoo Finance API</p>
  <p>Yahoo Finance is a very popular website for people of all trades whether it's an avid invester, recreational investor, or someone just looking for financial information</p>
  <p>Yahoo Fianance provides an API for software developers.  This API allows developers to query in multiple methods the financial information regarding stocks.  The amount of information available for these stocks is extensive.  Yahoo Finance has multiple API's available for developers to use.  This guide will cover two API's:
    <ul>
      <li><a href="?page=csvPage">Yahoo Finance CSV API</a></li>
      <li><a href="?page=yqlPage">Yahoo Finance YQL API</a></li>
    </ul>
    This guide will discuss how to filter through the vast amount of information for each stock.</p>
  <p>Yahoo Finance does not require an API key.  This feature greatly increases the developers ease.  I myself have only ever experienced nightmares in dealing with API keys.  With that said click a link below and lets get started!</p>

  <p><a href="?page=csvPage">Yahoo Finance CSV API</a></p>
  <p><a href="?page=yqlPage">Yahoo Finance YQL API</a></p>
</div>